# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: © 2022- twinify Developers and their Assignees

.ipynb_checkpoints
.vscode
src/
libs/
logs/
/data/
*__pycache__*
*.csv
*.xlsx
*.p
dist/
build/
*.svg
/*.egg-info
*.pyc
.coverage*
htmlcov/
venv
venv*
docs/_build/
twinify_result
